<div class="{{include.class}}" id="{{include.id}}">
    {% for member in site.data.team %}
        <a class="team-member {{include.member-class}} no-underline" target="_blank" {% if member.link %} href="{{ member.link }}" {% endif %}>
            {% assign member-portrait = "/assets/images/team/" | append: member.portrait %}
            {% assign member-alt = "Portrait of " | append: member.name %}
            {% include media.html file=member-portrait alt=member-alt %}
            <h1> {{ member.name }} </h1>
            <h2> {{ member.role }} </h2>
        </a>
    {% endfor %}
</div>