<div class="{{include.class}}" id="{{include.id}}">
    {% for member in site.data.team %}
        <div class="team-member {{include.member-class}}">
            {% assign member-portrait = "/assets/images/team/" | append: member.portrait %}
            {% assign member-alt = "Portrait of " | append: member.name %}
            {% include media.html file=member-portrait alt=member-alt %}

            <div class="flex flex-column justify-between">
                <div>
                    <h1> {{ member.name }} </h1>
                    <h2> {{ member.role }} </h2>
                </div>
            
                {% if member.link %}
                    <a href="{{ member.link }}" target="_blank" class="button">
                        {{ member.link-name }}
                    </a>
                {% else %}
                    <div></div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>