@import 'colors';

// --- RaisinCSS Extensions --- //
.w-fit
{
    width: fit-content;
}

// --- Buttons --- //
.download.windows
{
    color: $clr-text-primary;
    background-color: $clr-windows;
    border-color: $clr-windows;
}

.download.windows:hover
{
    background-color: change-color($color: $clr-windows, $alpha: 0);
    border-color: $clr-windows;
}

.download.steam
{
    color: $clr-text-primary;
    background-color: $clr-steam;
    border-color: $clr-steam;
}

.download.steam:hover
{
    background-color: change-color($color: $clr-steam, $alpha: 0);
    border-color: $clr-steam;
}