// global urls
$url-background-img: "/assets/images/background-tileable.png";

// global color scheme variables
$clr-background: #252525;
$clr-navbar: #000000dc;
$clr-text-primary: #f2f2f2;
$clr-text-secondary: #45bd95;
$clr-link: #45bd95;

$clr-windows: #00ADEF;
$clr-steam: #2c2e35;