// global urls
$url-background-img: "/assets/images/background-tileable.png";

// global color scheme variables
$clr-background: #252525;
$clr-navbar: #000000dc;
$clr-text-primary: #f2f2f2;
$clr-text-secondary: #CD0914;
$clr-link: #f1232d;

$clr-windows: #00ADEF;