---
---

#splash
{
    max-width: none;
    height: 100vh;
    margin: 0 0 3rem;
    padding: 0;

    figure
    {
        z-index: -2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
        video
        {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

#download
{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: end;

    #download-banner
    {
        max-height: 8rem;
        filter: drop-shadow(1px 3px 10px black);
    }

    a
    {
        margin: 1rem 0 0 2rem;
        box-shadow: 1px 3px 5px #0000009c;
    }
}

#community-socials
{
    display: flex;
    flex-direction: column;
    align-items: center;

    a
    {
        font-size: 1.25rem;
        margin: .5rem 0;
        width: 100%
    }
}

// offset anchor div to be under the navbar
// useful for auto-scrolling
.anchor
{
    position: relative;
    top: -5.5rem;
    visibility: none;
}

#team-gallery
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem 0 6rem;
    grid-gap: 4rem 2.5rem;
    
    .team-member
    {
        display: flex;
        flex-direction: column;
        
        figure
        {
            aspect-ratio: 4 / 5;
            margin-bottom: .7rem;
        }
        
        img
        {
            border-radius: .15rem;
            object-fit: cover;
            height: 100%;
        }

        > div
        {
            flex-grow: 1;
        }

        h1
        {
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 0;
        }
        
        h2
        {
            text-align: center;
            font-size: 1.1rem;
            margin-bottom: 0;
        }

        p
        {
            text-align: center;
            font-size: 1rem;
        }

        a
        {
            margin-top: .8rem;
        }
    }

    @media (min-width: 475px)
    {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 750px)
    {
        grid-template-columns: repeat(3, 1fr);
    }
}