---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Grimhook {% unless page.exclude-title-in-meta %}| {{ page.title }} {% endunless %}</title>

    <!-- meta data -->
    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}" />
    <meta name="darkreader-lock">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{{site.url_css}}/style.css" />
    {% if page.custom-css %}
      <link rel="stylesheet" type="text/css" href="{{site.url_css}}/{{page.custom-css}}.css" />
    {% endif %}
    <link rel="icon" href="{{site.url_favicon}}">
    <script src="https://kit.fontawesome.com/fb3d6d8900.js" crossorigin="anonymous"></script>

    <!-- js -->
    <script defer src="/assets/js/burger.js"></script>
    <script src="/assets/js/nav.js"></script>
    <script src="/assets/js/platform.js"></script>

    {% include analytics.html %}
  </head>

  <body id="Top">
    {% include navbar.html %}

    <main {% if page.center-content %} class="text-center flex flex-column align-items-center" {% endif %}>
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
